*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 50vh;
    padding: 4rem 1rem;
    background: #e2a9a9;
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.country1, .country2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

